      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Lexend+Deca&display=swap');
     
      *{
        box-sizing: border-box;
        margin: 0;
      }

      body{
        background-color: hsl(233, 47%, 7%);
      }
      
      .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 22vh 15vh 0 10vw;
        border-radius: 4px;
        width: 1000px;
      }

      /***Insights section***/

      .insights{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 50px;
        background-color: hsl(244, 38%, 16%);
        font-family:  'Inter', sans-serif;
        color: white;
      }
      .insights> p{
        font-family: 'Lexend Deca', sans-serif;
        font-size: 12px;
        color: hsla(0, 1%, 75%, 0.55);
        line-height: 1.5;
        padding-bottom: 40px;
      }

      /***Stats section***/

      .stats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        justify-items: start;     
      }

      .stats> p{
        color: hsla(0, 1%, 75%, 0.55);
        line-height: 1.6;
        font-size: 10px;
        font-family:'Lexend Deca', sans-serif ;
      }

      .stats> p> strong{
        color: white;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
      }

      /*** Image section ***/

      .side2{
        background-color: hsl(282, 80%, 41%, 0.5);
        border-bottom-right-radius: 4px;  
        border-top-right-radius: 4px;
      }

      .side2>img{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;  
        width: 100%;
        height: 100%;
        opacity: 40%;
      } 

        /*** Mobile section***/

        @media only screen and (max-width:375px) {
          
          html{
            max-height: 100vh;
            max-width: 100vh;
          }

          body{
            margin: 0;
            max-height: 100vh;
          }

          .container{
            display: grid;
            max-width: 400px;
            max-height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
          }

          .side2{
            height: 300px;
          }
          
        }